# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
schema and gemfile.lock
#ignore schema
/db/schema.rb
#ignore gemfile.lock
Gemfile.lock
